<div class=container-fluid id="recipe_header">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" id="recipe_text">
      <h1 id="title_text"><center>Suggested Foods For You</center></h1>
    </div>
  </div>
</div>
<br>


<div class=container-fluid>
  <div class="row">
        <div class="col-md-6 col-md-offset-1">
      <center><h3>Suggested Foods</h3></center>
      </div>
  <div class="col-md-4">
      <center><h3>Food to Stay Away From</h3></center>
    </div>
</div>
</div>
<div class=container-fluid>
  <div class="row">
        <div class="col-md-6 col-md-offset-1">
      <% @suggested_foods.each do |food| %>
      <center><%= food.name %></center>
      <% end %>
    </div>
  <div class="col-md-4">
      <% @not_suggested_foods.each do |food| %>
      <center><%= food.name %></center>
      <% end %>
    </div>
  </div>
</div>
