<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://i65.tinypic.com/iydf9z.jpg" alt="man with food">
      <div class="carousel-caption">
        <h2>NutriPrep - Where Food Meets Fitness</h2>
      </div>
    </div>
    <div class="item">
      <img src="http://i68.tinypic.com/5b9p9x.jpg" alt="woman eating">
      <div class="carousel-caption">
        <h2>Get Recipes That Fit Your Diet</h2>
      </div>
    </div>
    <div class="item">
      <img src="http://i66.tinypic.com/21aycgn.jpg" alt="chef preparing">
      <div class="carousel-caption">
        <h2>Receive Chef Selected Meals</h2>
      </div>
    </div>
    <div class="item">
      <img src="http://i64.tinypic.com/2rp7nmt.jpg" alt="stir">
      <div class="carousel-caption">
        <h2>Make Delicious Recipes</h2>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>

<!-- How it Works Section with explanation of the program -->

<div class=container-fluid>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1><center>HOW IT WORKS</center></h1>
    </div>
  </div>
</div>
<br>
<div class=container-fluid>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <h3><center>Create Your Profile</center></h3><br>
      <p><center>In order to create a custom nutrition plan to best suite your needs, you are required to fill out a profile that will help us calculate all of your biometrics.</center></p>
    </div>
    <div class="col-md-2 col-md-offset-2">
      <h3><center>Get Your Biometrics</center></h3><br>
      <p><center>Through simple calculations, we will be able to tell you everything from your BMI to what your Protein, Fat, and Carbohydrate ratio should be.</center></p>
    </div>
    <div class="col-md-2 col-md-offset-2">
      <h3><center>Receive A Custom Meal Plan</center></h3><br>
      <p><center>Based on your PFC ratio and Calorie Intake, you will receive a custom meal plan and a list of foods that you should and should not eat in order to reach your goals.</center></p>
    </div>
  </div>
</div>
<br>
<br>

<div class=container-fluid>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h5><center><%= link_to 'Start NutriPrep Today', new_biometric_path, class: "btn btn-primary btn-lg new_button" %></center></h5>
    </div>
  </div>
</div>
<br>
<br>

<!-- more promo -->

<div class=container-fluid id="promo_pic">
  <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <div class="promo">
      <h1><center>YOUR GOALS THAT MATCH <br>YOUR LIFESTYLE</center></h1><br>
      <h3><center>I AM VEGAN</center></h3><br>
      <h3><center>I WANT TO LOSE WEIGHT</center></h3>
    </div>
    </div>
  </div>
</div>
<br>
<br>

<!-- Food Slider () -->
<div class=container-fluid>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2><center>Receive Chef Selected Meals</center></h2>
    </div>
  </div>
</div>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-xs-4"><a href="#1"><img src="http://i67.tinypic.com/2w6ig6s.jpg" class="img-responsive" alt="dinner picture"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#2"><img src="http://i65.tinypic.com/2hehbgw.jpg" class="img-responsive" alt="dinner picture"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#3"><img src="http://i66.tinypic.com/1zx5tn4.jpg" class="img-responsive" alt="dinner picture"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#4"><img src="http://i65.tinypic.com/2573joo.jpg" class="img-responsive" alt="dinner picture"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#5"><img src="http://i67.tinypic.com/13z0u3r.jpg" class="img-responsive"alt="dinner picture"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#6"><img src="http://i63.tinypic.com/2hwo55e.jpg" class="img-responsive" alt="dinner picture"></a></div>
          </div>
          <!-- add  more items here -->
          <!-- Example item start:  -->

          <div class="item">
            <div class="col-xs-4"><a href="#1"><img src="http://i64.tinypic.com/332q7ps.jpg" class="img-responsive" alt="dinner picture"></a></div>
          </div>

          <!--  Example item end -->
        </div>
        <a class="left carousel-control" href="#" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<!-- sample recipe -->
<div class=container-fluid id="sample">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h1>Sample Dinner Recipe:</h1><br>
      <h2>Pan Fried Chicken With Rosemary</h2>
      <h5>Ingredients:</h5>
      <p>1 chicken breast<br>
      Olive oil<br>
      Rosemary<br>
      Herb de Provence<br>
      Salt <br>
      Pepper<br>
      Spinach<br>
      Roma Tomatoes<br>
      Radicchio<br>
      Aceto Balsamico</p>
      <h5>Instructions:</h5>
      <p>Dry the chicken filet add salt pepper and rosemary and the herb de provence.
Heat the olive oil in the pan.
Pan fry for 6 minutes per side.
In a bowl, mix the olive oil with the balsamic, salt, and pepper and whisk well.
Add the spinach, the radicchio and the tomatoes. Toss well
and serve the chicken and the salad and enjoy.</p>
    </div>
    <div class="col-md-4">
      <img src="http://i67.tinypic.com/155s9ds.jpg" alt="chicken recipe">
    </div>
  </div>
</div>
<br>
<br>
