// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2{
  font-family: Avenir;
  align-items: center;
}

h4{
  font-family: Avenir;
}

.row, p{
  font-family: Avenir;
}
