// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ol, ul{
    list-style: none;
}
h2{
  font-family: Avenir !important;
  align-items: center;
  font-weight: 200;}

h4{
  font-family: Avenir !important;
  font-weight: 400;
}
p {
    margin-bottom: 1.6em;
    line-height: 2.0;
    font-size: 14px;
    font-family: "Montserrat-Light";
}
.text-lt {
    font-family: "Montserrat-Light", sans-serif;
}
.text-sp {
    letter-spacing: 0.05em;
}
.text-uppercase {
    text-transform: uppercase;
}
.row, p{
  font-family: Avenir !important;
}
.mb-2{
  margin-bottom: 30px;
}
.p-rt-0{
  padding-right: 0;
}
.carousel-control.left, .carousel-control.right{
  background-image: none !important;
}

.carousel-inner{
  width:100%;
  max-height: 800px !important;
}

.multi-item-carousel > img {
  width:300px;
  height:300px;
}

body{
  margin-bottom: 30px;
}

#promo_pic{
  background-image: url(http://i68.tinypic.com/2ji7tk.jpg);
}

.promo{
  padding: 180px 0;
  color: white;
}

.promo h3{
  border: 5px solid white;
  padding: 10px 0;
  font-weight: 200;
}

h1{
  font-weight: 200;
}

#sample{
  background-color: rgb(229,229,229);
  padding: 35px 0,
}

#multi-scroller{
  padding: 70px 0;
}
footer{
  bottom: 0;
}

#footer-nav{
  background-color: rgb(229,229,229);
  margin: 0;
}
#madang-logo{
  margin: 10px 0;
}
#social{
  height: 50px;
  width: 130px;
}
.top-footer{
  background: #60ba62;
  padding: 40px 0;
  letter-spacing: 0.1em;
}
.bottom-footer{
  background-color: #429c44;
  padding: 27px 0;
  line-height: 29px
}
.copyright-text{
  font-family: 'Montserrat-Light', sans-serif;
  letter-spacing: 0.15em;
  line-height: 29px;
  font-weight: 300;
  color: #fff;
}
.container-fluid{
  padding: 0;
}
.footer-logo{
  width: 30%;
}
.footer-social-links{
  width: 19%;
  margin-top: 1.3%;
}
.footer-social-links ul{
  padding: 0;
}
.footer-social-links ul li{
    display: inline-block;
    margin: 0 5px;
}
.footer-social-links ul li a{
  color: #60ba62;
}
.footer-social-links ul li i{
    background: #dff1e0;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 26px;
    display: inline-block;
}
.footer-links span {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2px;
    font-family: 'Montserrat-Regular', sans-serif;
}
.footer-links ul li a {
    color: #fff;
    font-family: 'Montserrat-Light', sans-serif;
    text-transform: capitalize;
    line-height: 17px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1.4px;
}
.footer-menu{
    color: #fff;
}
.block {
    padding: 90px 0;
}
.download-app-block {
    padding: 80px 0;
    background-color: #fff;
}
.download-app-block .left-mobile {
    width: 33%;
}
.left-mobile figure {
    float: right;
    margin-bottom: 0;
}
.download-app-text, .left-mobile{
  width: 58%;
  display: inline-block;
  vertical-align: middle;
}
.download-app-wrap {
    font-size: 17px;
    line-height: 27px;
    padding-left: 14%;
    margin-top: -10%;
}
.download-app-wrap h4 {
    font-size: 22px;
    line-height: 30px;
    margin: 0 0 12px 0;
}
.download-app-wrap h4 a {
    color: #60ba62;
}
.download-app-wrap h2 {
    font-size: 45px;
    margin: 0 0 20px 0;
}
.download-app-wrap p {
    font-size: 17px;
}
.download-from a:first-child {
    margin-right: 25px;
}
.blog-block {
    background: #f5f5f5;
    padding: 70px 0;
}
.blog-block {
    margin-bottom: 45px;
}
.blog-block h4 {
    font-size: 22px;
    margin: 0 0 38px 0;
    color: #484848;
}
.blog-single-wrap figure {
    overflow: hidden;
    height: 242px;
    border-radius: 4px;
}
.blog-description {
    font-size: 13px;
    line-height: 19px;
}
.blog-description {
    background: #fff;
    border-radius: 4px;
    padding: 25px 30px 30px;
    width: 92%;
    margin: auto;
    position: relative;
    margin-top: -57px;
}
.blog-block h6 {
    margin: 0 0 10px 0;
}
.blog-block h6 a {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 0 0;
    font-weight: 300;
}
.blog-description .posted-date {
    margin-bottom: 14px;
    display: block;
}
.blog-block p {
    font-size: 13px;
    line-height: 19px;
    margin: 0 0 20px 0;
}
.blog-description p a {
    color: #60ba62;
}
.top-text-header {
    margin-bottom: 35px;
}
.team-member-block h4 {
    font-size: 22px;
    margin-bottom: 22px;
    color: #484848;
    font-family: 'Montserrat-Regular', sans-serif;
}
.team-member-block .top-text-header p {
    width: 62%;
    margin: 0 auto 30px;
}
.team-member-col {
    float: none;
    display: inline-block;
}
.member-info {
    background: #fff;
    padding: 30px 15px;
}
.member-wrap figure {
    position: relative;
    width: 141px;
    height: 141px;
    border-radius: 141px;
    overflow: hidden;
    margin: 0 auto 30px;
}
.text-center figure {
    margin-left: auto;
    margin-right: auto;
}
.team-member-block h6 {
    font-size: 18px;
    margin: 0 0 8px 0;
}
.member-wrap h6 a {
    color: #575757;
    font-family: 'Montserrat-Regular', sans-serif;
}
.member-wrap figure:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #60ba62;
    border-radius: 141px;
}
.cat-list-wrap {
  padding-bottom: 0;
}
.cat-list-wrap h4 {
    margin-top: 0px;
    font-size: 22px;
    color: #484848;
    font-family: 'Montserrat-Light', sans-serif;
}
.cat-wrap {
    height: 270px;
    margin-bottom: 25px;
    cursor: pointer;
}
.cat-wrap a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
}
.cat-wrap a span {
    text-transform: uppercase;
    display: inline-block;
    top: 45%;
    font-size: 20px;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.cat-wrap a figure {
    margin: 0;
    background: #000;
}
.cat-wrap a figure img {
    opacity: 0.7;
    max-width: 100%;
}
.full-width-video {
    height: 540px;
    overflow: hidden;
    position: relative;
}
.video-wrap {
    position: relative;
    height: 100%;
    transition: all 0.4s ease-in-out;
}
.full-width-video .video-wrap .video-bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(http://s1.madang.kenzap.com/wp-content/uploads/2016/11/video-bg.jpg);
}
.video-wrap video {
    cursor: pointer;
}
.video-text {
    position: absolute;
    top: 33%;
    width: 100%;
}
.video-text a {
    margin-bottom: 55px;
    display: inline-block;
}
.video-text h2 {
    font-size: 31px;
    color: #fff;
    font-family: 'Montserrat-Light', sans-serif;
}
.video-wrap:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    left: 0;
    transition: all 0.4s ease-in-out;
}
.promo-block{
  padding: 60px 60px 0;
}
.promo-item{
  padding: 15px 40px;
}
.promo-item h3{
  color: #575757;
  font-size: 20px;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 0.06em;
  font-family: 'Montserrat-Light', sans-serif;
}
.how-it-works-block h1 {
    margin: 0 0 20px 0;
    font-size: 22px;
    font-weight: 400;
    color: #484848;
    letter-spacing: 0.05em;
}
.form-check-input{
  margin-right: 10px !important;
}
