<div class="biometric-form">
  <div class="container" style="margin-top:85px;">
    <div class="row">
      <div class="col-md-12">
        <h2><center>Now we need some info on your current health.</center></h2>
        <center>This information will be used to determine your custom nutrition plan.</center>
      </div>
    </div>

  <%= render 'form' %>

  </div>
</div>
